<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index html</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- basic styles -->

		<link href="assets/css/bootstrap.min.css"  rel="stylesheet"  media="screen" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="assets/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="assets/css/ace.min.css" />
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    <style type="text/css" >

      body { padding-top: 80px;}
    
	</style>


</head>
<body>
<div class="container-fluid">

			<div th:include="customer/common/header :: header">
			</div>	
			<div class="row">	
				<div th:include="customer/common/menu :: menu">					
				</div>

				<div  id="pageContent" class="row">
					<div class="span10" id="content">
						<div class="table-header">
							Customer Records
						</div>
						<div class="table-responsive">
							 <table id="customerTable" class="table table-striped table-bordered table-hover">
							      <thead>
							        <tr>
							          <th>First Name</th><th>Last Name</th><th>User Name</th><th></th>
							        </tr>
							      </thead>
							      <tbody>							       
							          <tr th:remove="all">          	
							            <td>Subash</td>
							            <td>Soundrapandi</td>
							            <td>ssubashs</td>         
							            <td><a class="btn" href="#">Edit</a></td>   
							          </tr>	
							          <tr th:each="customer:${customers}">          	
							            <td th:text="${customer.firstname}">userfn</td>
							            <td th:text="${customer.lastname}">userln</td>
							            <td th:text="${customer.username}">username</td>         
							            <td><a class="btn" href="#">Edit</a></td>   
							          </tr>								          						        
							      </tbody>
							    </table>
						</div>	    
						
					</div>
				</div>	
			</div>
</div>
<!-- basic scripts -->
		<script src="assets/js/jquery-2.0.3.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="assets/js/jquery.dataTables.min.js"></script>
		<script src="assets/js/jquery.dataTables.bootstrap.js"></script>

		<!-- ace scripts -->

		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			jQuery(function($) {
				var oTable1 = $('#customerTable').dataTable( {
				"aoColumns": [			      
			      null, null,null,
				  { "bSortable": false }
				] } );
				
			
				
			})
		
	</script>
</body>
</html>
