 .sudoGrid{
			
            max-width: 90%;
			width:460px;
			height:400px;	
            max-height: 90%;
			margin:0 auto;
				
		}
          .sudoGrid div{
            width:32.6%;
            height:32.6%;
            float:left;
            border:1px solid #ccc;
          }
		  
			.sudoGrid div div{
            width:100%;
            height:100%;
             
          }
			
          .sudoGrid div div span{
            font-size:150%;
            width:32.67%;
            height:32.67%;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:210%;
            background-color:#999;      
         }
          .sudoGrid span.puzzle:hover{
            background-color:#DBEDFF;
            color:white;
		}
		 .sudoGrid div span.highlighted {
		  background-color:#f2f2f2;
		}		
		.sudoGrid div span.focus {
		 
		 /* background-color: rgba(204, 204, 255, 0.5);		*/
		  opacity:0.4;
		  filter:alpha(opacity=40); /* For IE8 and earlier */
		 
		 
		}
		.sudoGrid div span.error {
		  border: 1px solid #cca;
		  border-width: 1px 0 0 1px;
		  background-color:#D65C33;
		}				
				
.grid {
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
	width:20px;
	height:20px;			
    float: left;
}
